.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    grid-gap: 20px; /* Gap between grid items */
  }
  
.feature {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.feature img {
    max-width: 50%;
}