.sign-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 10px 10px 20px 10px;
    margin: 175px 100px;
    border: 2px solid #ccc;
    border-radius: 25px;
}

.sign-in-container > h1{
    text-align: center;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form > input{
    height: 25px;
}

form > button{
    height: 25px;
    background-color: greenyellow;
}

form > button:hover{
    text-decoration: underline;
}

form > button:active{
    background-color: darkolivegreen;
    color: white;
}
